description "start/stop/control statsdaemon"

start on (local-filesystems and runlevel [2345])
stop on runlevel [!2345]

# prevent thrashing - 10 restarts in 5 seconds
respawn

kill timeout 20

# Make a log available in /var/log/upstart/statsdaemon.log
console log

exec {{statsdaemon_home}}/statsdaemon-{{statsdaemon_version}}.linux-amd64.go1.4.2/statsdaemon \
    -address="{{statsdaemon_address}}" \
    -debug={{statsdaemon_debug|to_nice_json}} \
    -delete-gauges={{statsdaemon_delete_gauges|to_nice_json}} \
    -flush-interval={{statsdaemon_flush_interval}} \
    -graphite="{{statsdaemon_graphite}}" \
    -max-udp-packet-size={{statsdaemon_max_udp_packet_size}} \
    -persist-count-keys={{statsdaemon_persist_count_keys}} \
    -postfix="{{statsdaemon_postfix}}" -prefix="{{statsdaemon_prefix}}" -receive-counter="{{statsdaemon_receive_counter}}"  -tcpaddr="{{statsdaemon_tcpaddr}}"
    {% for percent in statsdaemon_percent_threshold %}
    -percent-threshold={{percent}} \
    {% endfor %}