<target iqn.{{ ansible_date_time.date }}.otc.com:lun1>
	# Provided device as an iSCSI target
    backing-store /dev/mapper/{{ volume_group }}-{{ volume_name }}
    initiator-address {{ initiator_address }}
    incominguser otc-iscsi-user {{ incominguser_password }}
	outgoinguser otc-iscsi-target {{ outgoinguser_password }}
</target>
