debug: "{{ pg_db_url == null | default('true') }}"
server_port: "{{ server_port }}"

pg_db_url: "{{ pg_db_url }}"
pg_database: "{{ pg_database }}"
pg_username: "{{ pg_username }}"
pg_password: "{{ pg_password }}"