clouds:
  devstack:
    auth:
      username: '{{ username }}'
      password: '{{ password }}'
      auth_url: '{{ auth_url }}'
      user_domain_name: '{{ user_domain_name }}'
      project_name: '{{ project_name }}'
